In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from self_harm_triage_notes.config import *
# import random
# from devutils import print_stats, preprocess

# Pretty plots
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('ticks')
plt.rcParams['figure.figsize'] = (6, 4)
plt.rcParams['axes.titlesize'] = 22
plt.rcParams['axes.labelsize'] = 20
plt.rcParams['xtick.labelsize'] = 16
plt.rcParams['ytick.labelsize'] = 16

# Pandas settings
pd.options.display.max_colwidth = 100
pd.options.display.max_columns = 100

___
# Datasets with ED presentations from RMH

> `RMH_2012-2019_MASTER.xlsx` received on 13.05.2021
>
>From Kat: I have also rechecked against our datasets, which we received in dribs and drabs from our site throughout 2019 due to the difficulties with COVID-19, and I can confirm that we believe the attached dataset represents the full, manually annotated, dataset from 01/01/2012 to 31/12/2019.

> `RMH_Q1 2012 - Q4 2019 - DEIDENT.xlsx` received on 06.05.2023
>
> `RMH_Q1 2020 - Q2 2022 - DEIDENT.xlsx` received on 06.05.2023

## First data extract: Q1 2012 to Q4 2019

In [2]:
# Load data
df1 = pd.read_excel(raw_data_dir / "RMH_Q1 2012 - Q4 2019 - DEIDENT.xlsx")
print(df1.shape)
df1.head()

(559453, 42)

,ID,Gender,Age,Triage_Category,Arrivaldate,Arrmod,ICD10_Code,Diagnosis,Presenting_Complaint,Tri_date,Triage_Comments,Stream,Time_seen_by_Doctor,ED_LOS,Departure_Status,Destination,Discharged,LeftDeptdatetime,ShortStayAdmissionDateTime,NursingCarePlan,Path_Request,PathReq_date,BedReq_date,BR speciality,Resus_Time,CTReq_date,Bed_Ready_at,Early_Consultant_Ax,ECATT_Clinician_Time,ECATT_Referral_Time,Inpatient_Referral_Time,Unit_Referred,CareCoordinatorDate,AdmitToWard,AdmitdateTime,Patient_Ready_Status,Ptransfer_status_datetime,SH,Year,AOD_OD,SI,Audit_case
0,RMH-1,Female,64.0,3.0,2012-01-08 00:35:00,Other,J459,Asthma,Breathing problem (Resp),2012-01-08 00:38:18,"SOB for 5/7, been to GP given prednisolone, coughing taken inhalers with minimal relief, speakin...",Emergency,2012-01-08 03:43:00,241.0,Home,NaN,2012-01-08 04:39:00,2012-01-08 04:39:00,NaT,NaN,Full Blood Examination (FBE),2012-01-08 01:46:00,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,0.0,2012.0,0,0,NaN
1,RMH-2,Male,31.0,4.0,2012-01-08 00:41:00,Other,S0188,Open wound of face (excludes eye),Injury - localised (Trauma),2012-01-08 00:42:36,"pt has lac down right forehead, to eyebrow, will require stitches and ADT, denies loc wound abou...",Emergency,2012-01-08 03:48:00,249.0,Home,NaN,2012-01-08 04:51:00,2012-01-08 04:51:00,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,0.0,2012.0,0,0,NaN
2,RMH-3,Male,19.0,2.0,2012-01-08 00:52:00,Road Ambulance Service,T07,Injuries of more than one nature to unspecified body region,Reg,2012-01-08 00:53:13,"pt expect MBA, trapped for 45mins, #right femur, had 40mg morphine, GCS 15",Trauma Resus,2012-01-08 01:00:00,252.0,Ward (Not Elsewhere Described),7SW - Orthopaedics,2012-01-08 04:29:00,2012-01-08 05:05:00,NaT,NaN,Coagulation Profile (PT(INR)+APTT),2012-01-08 01:10:00,2012-01-08 01:30:00,Trauma & Transplant Services,2012-01-08 00:53:14.933,2012-01-08 01:08:00,03:30,NaN,NaT,NaN,NaT,NaN,NaT,7SW - Orthopaedics,2012-01-08 03:17:00,Patient Ready for Transfer,2012-01-08 03:55:00,0.0,2012.0,0,0,NaN
3,RMH-4,Male,51.0,3.0,2012-01-08 01:11:00,Other,N23,Renal colic,Kidney / renal problem,2012-01-08 01:13:44,L) sided flank pain same as previous renal colic pain unimproved with analgesia for the past 1/5...,Emergency,2012-01-08 01:22:00,187.0,Short Stay,NaN,2012-01-08 04:07:00,2012-01-08 04:20:00,2012-01-08 03:56:00,NaN,Full Blood Examination (FBE),2012-01-08 01:18:00,2012-01-08 03:57:00,Emergency,NaN,2012-01-08 01:31:00,04:00,NaN,NaT,NaN,NaT,NaN,NaT,xxSS - Short Stay Unit,2012-01-08 04:01:00,Patient Ready for Transfer,2012-01-08 04:00:00,0.0,2012.0,0,0,NaN
4,RMH-5,Female,25.0,5.0,2012-01-08 01:23:00,Other,K297,Gastritis,Pain (GIT),2012-01-08 01:25:47,generalised abdo pain and associated headache for 1 year worse tonight. Pt states that she had ...,Emergency,2012-01-08 04:29:00,215.0,Home,NaN,2012-01-08 06:16:00,2012-01-08 05:00:00,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,0.0,2012.0,0,0,NaN

### Empty rows

In [3]:
print("The dataset contains %d empty rows." % df1.isna().all(axis=1).sum())
df1.tail(2)

The dataset contains 0 empty rows.

,ID,Gender,Age,Triage_Category,Arrivaldate,Arrmod,ICD10_Code,Diagnosis,Presenting_Complaint,Tri_date,Triage_Comments,Stream,Time_seen_by_Doctor,ED_LOS,Departure_Status,Destination,Discharged,LeftDeptdatetime,ShortStayAdmissionDateTime,NursingCarePlan,Path_Request,PathReq_date,BedReq_date,BR speciality,Resus_Time,CTReq_date,Bed_Ready_at,Early_Consultant_Ax,ECATT_Clinician_Time,ECATT_Referral_Time,Inpatient_Referral_Time,Unit_Referred,CareCoordinatorDate,AdmitToWard,AdmitdateTime,Patient_Ready_Status,Ptransfer_status_datetime,SH,Year,AOD_OD,SI,Audit_case
559451,RMH-559452,F,29.0,4.0,2019-12-31 23:59:00,Road Ambulance,F10.0,Alcohol intoxication,NaN,2019-12-31 23:59:00,"irratic behaviour at party, assulting memebers of public. ep of unresponsive when police arrived...",RED Cubicles,01/01/2020 00:31,195.0,ED SSU - BAU dispo*,ED SSU,2020-01-01 03:14:01,NaT,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN,2020-01-01 07:56:48,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,0.0,2019.0,0,0,NaN
559452,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN

In [4]:
# Remove the bottom row
df1.drop(df1.tail(1).index,inplace=True) 
df1.shape

(559452, 42)

### Duplicated rows

In [5]:
# Duplicates based on all columns except for ID
print("The dataset contains %d duplicated rows." % df1.duplicated(subset=df1.columns.drop('ID')).sum())

The dataset contains 36 duplicated rows.

In [6]:
df1.drop_duplicates(subset=df1.columns.drop('ID'), inplace=True, ignore_index=True)
df1.shape

(559416, 42)

### General info

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559416 entries, 0 to 559415
Data columns (total 42 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          559416 non-null  object
 1   Gender                      559414 non-null  object
 2   Age                         559416 non-null  float64
 3   Triage_Category             559416 non-null  float64
 4   Arrivaldate                 559416 non-null  datetime64[ns]
 5   Arrmod                      559411 non-null  object
 6   ICD10_Code                  542681 non-null  object
 7   Diagnosis                   543085 non-null  object
 8   Presenting_Complaint        515668 non-null  object
 9   Tri_date                    559416 non-null  datetime64[ns]
 10  Triage_Comments             555423 non-null  object
 11  Stream                      557077 non-null  object
 12  Time_seen_by_Doctor         539301 non-null  object
 13  ED_LOS                      539660 non-null  float64
 14  Departure_Status            559292 non-null  object
 15  Destination                 126821 non-null  object
 16  Discharged                  559273 non-null  datetime64[ns]
 17  LeftDeptdatetime            497333 non-null  datetime64[ns]
 18  ShortStayAdmissionDateTime  3072 non-null    datetime64[ns]
 19  NursingCarePlan             0 non-null       float64
 20  Path_Request                186358 non-null  object
 21  PathReq_date                193539 non-null  datetime64[ns]
 22  BedReq_date                 228417 non-null  datetime64[ns]
 23  BR speciality               207904 non-null  object
 24  Resus_Time                  91358 non-null   object
 25  CTReq_date                  106544 non-null  datetime64[ns]
 26  Bed_Ready_at                207316 non-null  object
 27  Early_Consultant_Ax         40410 non-null   object
 28  ECATT_Clinician_Time        25531 non-null   datetime64[ns]
 29  ECATT_Referral_Time         11654 non-null   object
 30  Inpatient_Referral_Time     149511 non-null  datetime64[ns]
 31  Unit_Referred               36294 non-null   object
 32  CareCoordinatorDate         79796 non-null   datetime64[ns]
 33  AdmitToWard                 189473 non-null  object
 34  AdmitdateTime               201654 non-null  object
 35  Patient_Ready_Status        51312 non-null   object
 36  Ptransfer_status_datetime   55656 non-null   object
 37  SH                          559416 non-null  float64
 38  Year                        559416 non-null  float64
 39  AOD_OD                      559416 non-null  int64
 40  SI                          559416 non-null  int64
 41  Audit_case                  3502 non-null    float64
dtypes: datetime64[ns](11), float64(7), int64(2), object(22)
memory usage: 179.3+ MB

In [8]:
df1.isna().sum()

ID                                 0
Gender                             2
Age                                0
Triage_Category                    0
Arrivaldate                        0
Arrmod                             5
ICD10_Code                     16735
Diagnosis                      16331
Presenting_Complaint           43748
Tri_date                           0
Triage_Comments                 3993
Stream                          2339
Time_seen_by_Doctor            20115
ED_LOS                         19756
Departure_Status                 124
Destination                   432595
Discharged                       143
LeftDeptdatetime               62083
ShortStayAdmissionDateTime    556344
NursingCarePlan               559416
Path_Request                  373058
PathReq_date                  365877
BedReq_date                   330999
BR speciality                 351512
Resus_Time                    468058
CTReq_date                    452872
Bed_Ready_at                  352100
Early_Consultant_Ax           519006
ECATT_Clinician_Time          533885
ECATT_Referral_Time           547762
Inpatient_Referral_Time       409905
Unit_Referred                 523122
CareCoordinatorDate           479620
AdmitToWard                   369943
AdmitdateTime                 357762
Patient_Ready_Status          508104
Ptransfer_status_datetime     503760
SH                                 0
Year                               0
AOD_OD                             0
SI                                 0
Audit_case                    555914
dtype: int64

In [9]:
df1.nunique()

ID                            559416
Gender                            13
Age                              117
Triage_Category                    7
Arrivaldate                   539598
Arrmod                            58
ICD10_Code                      1787
Diagnosis                       5983
Presenting_Complaint           19685
Tri_date                      555572
Triage_Comments               554175
Stream                            21
Time_seen_by_Doctor           500194
ED_LOS                          3009
Departure_Status                 125
Destination                       65
Discharged                    511013
LeftDeptdatetime              458382
ShortStayAdmissionDateTime      3057
NursingCarePlan                    0
Path_Request                     296
PathReq_date                  188009
BedReq_date                   221904
BR speciality                    132
Resus_Time                     90790
CTReq_date                    104850
Bed_Ready_at                    3699
Early_Consultant_Ax            39654
ECATT_Clinician_Time           25293
ECATT_Referral_Time             5113
Inpatient_Referral_Time        35076
Unit_Referred                    585
CareCoordinatorDate            73275
AdmitToWard                     2942
AdmitdateTime                 186779
Patient_Ready_Status            1793
Ptransfer_status_datetime      45568
SH                                 2
Year                               8
AOD_OD                             2
SI                                 2
Audit_case                         1
dtype: int64

### Rename, convert types, and select columns of interest

In [10]:
# Rename columns
df1.rename(columns={'ID': 'uid', 
                    'Gender': 'sex',
                    'Age': 'age',
                    'Arrivaldate': 'arrival_date',
                    'Arrmod': 'arrival_method',
                    'Year': 'year',
                    'Triage_Comments': 'triage_note', 
                    'Audit_case': 'audit_case'}, 
          inplace=True)

In [11]:
df1.arrival_date

0        2012-01-08 00:35:00
1        2012-01-08 00:41:00
2        2012-01-08 00:52:00
3        2012-01-08 01:11:00
4        2012-01-08 01:23:00
                 ...
559411   2019-12-31 23:18:00
559412   2019-12-31 23:27:00
559413   2019-12-31 23:30:00
559414   2019-12-31 23:35:00
559415   2019-12-31 23:59:00
Name: arrival_date, Length: 559416, dtype: datetime64[ns]

In [12]:
# Change types
df1.arrival_date = pd.to_datetime(df1.arrival_date)
df1.year = df1.year.astype(int)
df1.SH = df1.SH.astype(int)
df1.SI = df1.SI.astype(int)
df1.AOD_OD = df1.AOD_OD.astype(int)


# Select columns
df1 = df1[['uid', 'sex', 'age', 'arrival_method', 
           'arrival_date', 'year', 
           'triage_note', 'SH', 'SI', 'AOD_OD', 'audit_case']]

In [13]:
df1.head()

,uid,sex,age,arrival_method,arrival_date,year,triage_note,SH,SI,AOD_OD,audit_case
0,RMH-1,Female,64.0,Other,2012-01-08 00:35:00,2012,"SOB for 5/7, been to GP given prednisolone, coughing taken inhalers with minimal relief, speakin...",0,0,0,NaN
1,RMH-2,Male,31.0,Other,2012-01-08 00:41:00,2012,"pt has lac down right forehead, to eyebrow, will require stitches and ADT, denies loc wound abou...",0,0,0,NaN
2,RMH-3,Male,19.0,Road Ambulance Service,2012-01-08 00:52:00,2012,"pt expect MBA, trapped for 45mins, #right femur, had 40mg morphine, GCS 15",0,0,0,NaN
3,RMH-4,Male,51.0,Other,2012-01-08 01:11:00,2012,L) sided flank pain same as previous renal colic pain unimproved with analgesia for the past 1/5...,0,0,0,NaN
4,RMH-5,Female,25.0,Other,2012-01-08 01:23:00,2012,generalised abdo pain and associated headache for 1 year worse tonight. Pt states that she had ...,0,0,0,NaN

## Second data extract: Q1 2020 to Q2 2022

In [14]:
# Load data
df2 = pd.read_excel(raw_data_dir / "RMH_Q1 2020 - Q2 2022 - DEIDENT.xlsx")
print(df2.shape)
df2.head()

(212116, 49)

,Unnamed: 0,Sex,Age,Cat,Arrv Date/Time,Arrival Method,Primary ED Diagnosis,Diagnoses,Reason for Attendance,Triage Start,CC Comments,Care Area,First Doctor Time,LOS (mins),ED Disposal,Disposition Type,ED Discharge Date/Time,LeftDeptdatetime,ShortStayAdmissionDateTime,NursingCarePlan,Path_Request,PathReq_date,Decision to Admit,Bed Request Specialty,Resus_Time,CTReq_date,Bed Ready at (HH:MM),Medical RTG Time,EMH Consult Time,ECATT_Referral_Time,Inpatient_Referral_Time,Unit_Referred,CareCoordinatorDate,AdmitToWard,AdmitdateTime,Patient_Ready_Status,Ptransfer_status_datetime,SH,AOD_OD,SI,Audit_case,Year,Activity When Injured,Injury Cause,Where Injury Occurred,VEMD Body Region,Presenting Problem,Human Intent,VEMD Nature of Injury
0,RMH-2020-1,F,19,3,2020-01-01 00:15:00,Road Ambulance,R45.81,Suicidal ideation,Section 351,2020-01-01 00:15:00,"argument with friend, threatened to jump off balcony. had voices in her head for 2/12. nil visua...",RED Cubicles,01/01/2020 00:54,113.0,Home,Discharged,2020-01-01 02:08:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,2020-01-01 00:24:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RMH-2020-2,F,22,4,2020-01-01 00:20:00,Other,S62.8,Wrist fracture,Isolated Limb Trauma,2020-01-01 00:20:00,mech fall with swelling to L) hand and dec ROM. ETOH intake.,RED Ambulatory,01/01/2020 00:30,73.0,ED SSU - ED SSU Di*,ED SSU,2020-01-01 01:32:34,NaN,NaN,NaN,NaN,NaN,2020-01-01 01:16:49,Emergency RMH,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RMH-2020-3,F,74,4,2020-01-01 00:33:00,Other,K08.88,"Pain, dental",ENT,2020-01-01 00:33:00,"Left lower dental pain since last year, seeking analgsia until able to attend dental hospital in...",RED Ambulatory,01/01/2020 00:42,38.0,Home,Discharged,2020-01-01 01:11:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RMH-2020-4,M,66,3,2020-01-01 00:34:00,Other,S01.9,Open wound of head,Trauma,2020-01-01 00:34:00,"ETOH, scuffle with HS ? LOC, lac approx 2cm above R eyebrow will require sutures. GCS 15, full p...",RED Cubicles,01/01/2020 03:45,295.0,ED SSU - ED SSU Di*,ED SSU,2020-01-01 05:29:13,NaN,NaN,NaN,NaN,NaN,2020-01-01 04:28:17,Emergency RMH,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RMH-2020-5,F,82,3,2020-01-01 00:36:00,Road Ambulance,S72.08,Closed fracture head of femur,Low Fall,2020-01-01 00:36:00,"mech fall landed L) hip. headstrike onto wall. pain to L) hip, rotation/shortening.",RED Cubicles,01/01/2020 00:51,373.0,Ward,Admitted,2020-01-01 06:49:00,NaN,NaN,NaN,NaN,NaN,2020-01-01 03:34:39,Orthopaedics,NaN,NaN,04:30,2020-01-01 06:37:03,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Empty rows

In [15]:
print("The dataset contains %d empty rows." % df2.isna().all(axis=1).sum())
df2.tail(2)

The dataset contains 0 empty rows.

,Unnamed: 0,Sex,Age,Cat,Arrv Date/Time,Arrival Method,Primary ED Diagnosis,Diagnoses,Reason for Attendance,Triage Start,CC Comments,Care Area,First Doctor Time,LOS (mins),ED Disposal,Disposition Type,ED Discharge Date/Time,LeftDeptdatetime,ShortStayAdmissionDateTime,NursingCarePlan,Path_Request,PathReq_date,Decision to Admit,Bed Request Specialty,Resus_Time,CTReq_date,Bed Ready at (HH:MM),Medical RTG Time,EMH Consult Time,ECATT_Referral_Time,Inpatient_Referral_Time,Unit_Referred,CareCoordinatorDate,AdmitToWard,AdmitdateTime,Patient_Ready_Status,Ptransfer_status_datetime,SH,AOD_OD,SI,Audit_case,Year,Activity When Injured,Injury Cause,Where Injury Occurred,VEMD Body Region,Presenting Problem,Human Intent,VEMD Nature of Injury
212114,RMH-2022-42576,F,61,1,2022-06-30 23:53:59,Helicopter,S09.9,NaN,NaN,30/06/22 23:54,NaN,NaN,01/07/2022 00:07,NaN,Intensive Care Unit - This Campus,NaN,2022-07-01 08:31:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,2022,Unspecified activity,9,Home,22,Pt Exepct: HEMS 1 Intubated trauma from Shepparton. 0700 husband returned from work & found pt ...,1,23.0
212115,RMH-2022-42577,M,41,4,2022-06-30 23:55:31,Other,NaN,NaN,NaN,01/07/22 00:02,L)sided intermittent chest wall pain for a month. Worse when laying. Hasn't taken pain relief!,NaN,01/07/2022 04:14,NaN,Left Without Treatment,NaN,2022-07-01 04:30:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Duplicated rows

In [16]:
# Duplicates based on all columns except for ID
print("The dataset contains %d duplicated rows." % df2.duplicated(subset=df2.columns.drop('Unnamed: 0')).sum())

The dataset contains 0 duplicated rows.

### General info

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212116 entries, 0 to 212115
Data columns (total 49 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  212116 non-null  object
 1   Sex                         212116 non-null  object
 2   Age                         212116 non-null  int64
 3   Cat                         212116 non-null  int64
 4   Arrv Date/Time              212116 non-null  datetime64[ns]
 5   Arrival Method              212113 non-null  object
 6   Primary ED Diagnosis        200314 non-null  object
 7   Diagnoses                   59238 non-null   object
 8   Reason for Attendance       192766 non-null  object
 9   Triage Start                212116 non-null  object
 10  CC Comments                 209984 non-null  object
 11  Care Area                   61284 non-null   object
 12  First Doctor Time           193471 non-null  object
 13  LOS (mins)                  61282 non-null   float64
 14  ED Disposal                 212114 non-null  object
 15  Disposition Type            61284 non-null   object
 16  ED Discharge Date/Time      212112 non-null  datetime64[ns]
 17  LeftDeptdatetime            0 non-null       float64
 18  ShortStayAdmissionDateTime  0 non-null       float64
 19  NursingCarePlan             0 non-null       float64
 20  Path_Request                0 non-null       float64
 21  PathReq_date                0 non-null       float64
 22  Decision to Admit           28336 non-null   datetime64[ns]
 23  Bed Request Specialty       27519 non-null   object
 24  Resus_Time                  0 non-null       float64
 25  CTReq_date                  0 non-null       float64
 26  Bed Ready at (HH:MM)        15893 non-null   object
 27  Medical RTG Time            17539 non-null   datetime64[ns]
 28  EMH Consult Time            6137 non-null    datetime64[ns]
 29  ECATT_Referral_Time         0 non-null       float64
 30  Inpatient_Referral_Time     0 non-null       float64
 31  Unit_Referred               0 non-null       float64
 32  CareCoordinatorDate         0 non-null       float64
 33  AdmitToWard                 0 non-null       float64
 34  AdmitdateTime               0 non-null       float64
 35  Patient_Ready_Status        0 non-null       float64
 36  Ptransfer_status_datetime   0 non-null       float64
 37  SH                          212116 non-null  int64
 38  AOD_OD                      212116 non-null  int64
 39  SI                          212116 non-null  int64
 40  Audit_case                  212116 non-null  int64
 41  Year                        212116 non-null  int64
 42  Activity When Injured       43318 non-null   object
 43  Injury Cause                36394 non-null   object
 44  Where Injury Occurred       43333 non-null   object
 45  VEMD Body Region            36491 non-null   object
 46  Presenting Problem          36491 non-null   object
 47  Human Intent                36394 non-null   object
 48  VEMD Nature of Injury       36491 non-null   float64
dtypes: datetime64[ns](5), float64(17), int64(7), object(20)
memory usage: 79.3+ MB

In [18]:
df2.isna().sum()

Unnamed: 0                         0
Sex                                0
Age                                0
Cat                                0
Arrv Date/Time                     0
Arrival Method                     3
Primary ED Diagnosis           11802
Diagnoses                     152878
Reason for Attendance          19350
Triage Start                       0
CC Comments                     2132
Care Area                     150832
First Doctor Time              18645
LOS (mins)                    150834
ED Disposal                        2
Disposition Type              150832
ED Discharge Date/Time             4
LeftDeptdatetime              212116
ShortStayAdmissionDateTime    212116
NursingCarePlan               212116
Path_Request                  212116
PathReq_date                  212116
Decision to Admit             183780
Bed Request Specialty         184597
Resus_Time                    212116
CTReq_date                    212116
Bed Ready at (HH:MM)          196223
Medical RTG Time              194577
EMH Consult Time              205979
ECATT_Referral_Time           212116
Inpatient_Referral_Time       212116
Unit_Referred                 212116
CareCoordinatorDate           212116
AdmitToWard                   212116
AdmitdateTime                 212116
Patient_Ready_Status          212116
Ptransfer_status_datetime     212116
SH                                 0
AOD_OD                             0
SI                                 0
Audit_case                         0
Year                               0
Activity When Injured         168798
Injury Cause                  175722
Where Injury Occurred         168783
VEMD Body Region              175625
Presenting Problem            175625
Human Intent                  175722
VEMD Nature of Injury         175625
dtype: int64

In [19]:
df2.nunique()

Unnamed: 0                    212116
Sex                                3
Age                              111
Cat                                6
Arrv Date/Time                202391
Arrival Method                    55
Primary ED Diagnosis             928
Diagnoses                       4551
Reason for Attendance            914
Triage Start                  199467
CC Comments                   209485
Care Area                         11
First Doctor Time             175335
LOS (mins)                      1281
ED Disposal                       78
Disposition Type                  11
ED Discharge Date/Time        199350
LeftDeptdatetime                   0
ShortStayAdmissionDateTime         0
NursingCarePlan                    0
Path_Request                       0
PathReq_date                       0
Decision to Admit              28272
Bed Request Specialty             63
Resus_Time                         0
CTReq_date                         0
Bed Ready at (HH:MM)            1351
Medical RTG Time               17525
EMH Consult Time                6135
ECATT_Referral_Time                0
Inpatient_Referral_Time            0
Unit_Referred                      0
CareCoordinatorDate                0
AdmitToWard                        0
AdmitdateTime                      0
Patient_Ready_Status               0
Ptransfer_status_datetime          0
SH                                 2
AOD_OD                             2
SI                                 2
Audit_case                         2
Year                               3
Activity When Injured             21
Injury Cause                     111
Where Injury Occurred             36
VEMD Body Region                  28
Presenting Problem             36472
Human Intent                      21
VEMD Nature of Injury             25
dtype: int64

### Rename, convert types, and select columns of interest

In [20]:
# Rename columns
df2.rename(columns={'Unnamed: 0': 'uid',
                    'Sex': 'sex',
                    'Age': 'age',
                    'Arrv Date/Time': 'arrival_date',
                    'Arrival Method': 'arrival_method',
                    'Year': 'year',
                    'CC Comments': 'triage_note', 
                    'Audit_case': 'audit_case'}, 
           inplace=True)

In [21]:
df2.arrival_date

0        2020-01-01 00:15:00
1        2020-01-01 00:20:00
2        2020-01-01 00:33:00
3        2020-01-01 00:34:00
4        2020-01-01 00:36:00
                 ...
212111   2022-06-30 23:31:25
212112   2022-06-30 23:38:35
212113   2022-06-30 23:51:53
212114   2022-06-30 23:53:59
212115   2022-06-30 23:55:31
Name: arrival_date, Length: 212116, dtype: datetime64[ns]

In [22]:
# Change types
df2.arrival_date = pd.to_datetime(df2.arrival_date)
df2.year = df2.year.astype(int)
df2.SH = df2.SH.astype(int)
df2.SI = df2.SI.astype(int)
df2.AOD_OD = df2.AOD_OD.astype(int)


# Select columns
df2 = df2[['uid', 'sex', 'age', 'arrival_method', 
           'arrival_date', 'year', 
           'triage_note', 'SH', 'SI', 'AOD_OD', 'audit_case']]

## Concatenate datasets

In [23]:
# Add a column to record the original database
df1['source_system'] = "Symphony"
df2['source_system'] = "EPIC"

# Concatenate datasets
df = pd.concat([df1, df2], axis=0, ignore_index=True)

### Validate dataset concatenation

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 771532 entries, 0 to 771531
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   uid             771532 non-null  object
 1   sex             771530 non-null  object
 2   age             771532 non-null  float64
 3   arrival_method  771524 non-null  object
 4   arrival_date    771532 non-null  datetime64[ns]
 5   year            771532 non-null  int64
 6   triage_note     765407 non-null  object
 7   SH              771532 non-null  int64
 8   SI              771532 non-null  int64
 9   AOD_OD          771532 non-null  int64
 10  audit_case      215618 non-null  float64
 11  source_system   771532 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(5)
memory usage: 70.6+ MB

In [25]:
df.isna().sum()

uid                    0
sex                    2
age                    0
arrival_method         8
arrival_date           0
year                   0
triage_note         6125
SH                     0
SI                     0
AOD_OD                 0
audit_case        555914
source_system          0
dtype: int64

In [26]:
df.nunique()

uid               771532
sex                   13
age                  121
arrival_method       103
arrival_date      741989
year                  11
triage_note       763556
SH                     2
SI                     2
AOD_OD                 2
audit_case             2
source_system          2
dtype: int64

### Save data

In [27]:
df.to_parquet(data_interim_dir / "rmh_2012_2022.parquet", engine="pyarrow")

___
# Datasets with ED presentations from LVRH
### Data extract: Q1 2012 - Q2 2022

In [28]:
# Load data
df1 = pd.read_excel(raw_data_dir / "LVRH MASTER_Q1 2012 - Q2 2022 v2 - DEIDENT.xlsx")
print(df1.shape)
df1.head()

(380329, 27)

,ID,SEX,AGE,YEAR,ARRIVAL TIME,ARRIVAL MODE,TRIAGE CATEGORY,NURSING ASSESSMENT,DIAGNOSIS CODE,DIAGNOSIS DESCRIPTION,DISPOSITION,TIME SEEN BY DOCTOR,SEEN BY MENTAL HEALTH PRACTITIONER,BEDREQ DATE,DISCHARGED,DISCHARGE DESTINATION,MENTAL_HEALTH_FLG,ACTIVITY DESC,BODY REGION DESC,INJURY DESC,INJURY CAUSE,INJURY NATURE,PLACE DESC,SH,AOD_OD,SI,Audit_case
0,LVRH2-2012-1,Male,2,2012,2012-01-01 00:06:00,"OTHER (INCLUDES PRIVATE CAR, WALKED)",4,PT FELL OVER WHILST OUT CAMPING AT APPROX 2200HRS ONTO ?BROKEN GLASS. PT REFUSED PANADOL BY PARE...,S810,OPEN WOUND. EXCLUDES EYE (13) - KNEE - Open wound of knee,HOME,-,-,-,2012-01-01 00:21:00,-,0,LEISURE ACTIVITY,KNEE,OPEN WOUND. EXCLUDES EYE (13) - KNEE - Open wound of knee,NON INTENTION HARM,OPEN WOUND. EXCLUDES EYE (13),"OTHER SPEC PLACE, FOREST,BEACH,ABANDONED BUILDING, DERELICT",0,0,0,0
1,LVRH2-2012-2,Female,53,2012,2012-01-01 00:30:00,"OTHER (INCLUDES PRIVATE CAR, WALKED)",4,PT PRESENTS WITH ?SOMETHING IN HER LEFT EYE. PT WAS AT HOME WHEN LEFT EYE BECAME ITCHY AT APPROX...,H160,"Corneal ulcer, nontraumatic",HOME,2012-01-01 03:39:00,-,-,2012-01-01 04:35:00,-,0,-,-,"Corneal ulcer, nontraumatic",-,-,-,0,0,0,0
2,LVRH2-2012-3,Male,24,2012,2012-01-01 00:56:00,ROAD AMBULANCE SERVICE,3,BIBA POST WITTNESSED ASSAULT APPROX 2330HRS. HIT IN LEFT SIDE OF FACE AND HAD LOC ?LENGHT OF TIM...,T009,SUPERFICIAL (INCLUDES BRUISES; EXCL. EYE [13]) - MULTIPLE INJURIES INVOLVING MORE THAN ONE BODY ...,HOME,2012-01-01 01:15:00,-,-,2012-01-01 04:00:00,-,0,LEISURE ACTIVITY,MULTIPLE INJURIES INVOLVING MORE THAN ONE BODY REGION,SUPERFICIAL (INCLUDES BRUISES; EXCL. EYE [13]) - MULTIPLE INJURIES INVOLVING MORE THAN ONE BODY ...,ASSAULT NOT OTHERWISE SPECIFIED,SUPERFICIAL (INCLUDES BRUISES; EXCL. EYE [13]),"HOUSE, HOME PREMISES, FARM HOUSE, NON-INSTITUTIONAL RESIDENC",0,0,0,0
3,LVRH2-2012-4,Male,21,2012,2012-01-01 01:07:00,"OTHER (INCLUDES PRIVATE CAR, WALKED)",5,"PAST WEEK HAS BEEN SMOKING MARIJUANA. 2/7 EAR ACHES , SORE THROAT AND HEADACHE . TODAY RASH ON L...",J039,"Tonsillitis, acute",HOME,2012-01-01 04:30:00,-,-,2012-01-01 05:00:00,-,0,-,-,"Tonsillitis, acute",-,-,-,0,0,0,0
4,LVRH2-2012-5,Male,3,2012,2012-01-01 01:12:00,"OTHER (INCLUDES PRIVATE CAR, WALKED)",4,BIB FATHER WITH PAINFUL AND SWOLLEN PENIS. PT HAS BEEN AT BEACH TODAY AND AT APPROX 1500HRS STAR...,N509,Other male genital organ disorder,HOME,2012-01-01 04:10:00,-,-,2012-01-01 04:30:00,-,0,-,-,Other male genital organ disorder,-,-,-,0,0,0,0

### Empty rows

In [29]:
print("The dataset contains %d empty rows." % df1.isna().all(axis=1).sum())
df1.tail(2)

The dataset contains 0 empty rows.

,ID,SEX,AGE,YEAR,ARRIVAL TIME,ARRIVAL MODE,TRIAGE CATEGORY,NURSING ASSESSMENT,DIAGNOSIS CODE,DIAGNOSIS DESCRIPTION,DISPOSITION,TIME SEEN BY DOCTOR,SEEN BY MENTAL HEALTH PRACTITIONER,BEDREQ DATE,DISCHARGED,DISCHARGE DESTINATION,MENTAL_HEALTH_FLG,ACTIVITY DESC,BODY REGION DESC,INJURY DESC,INJURY CAUSE,INJURY NATURE,PLACE DESC,SH,AOD_OD,SI,Audit_case
380327,LVRH2-2022-20696,Female,58,2022,2022-06-30 23:19:00,Road ambulance service,3,"fall - intoxicated \nfall from standing height - intoxicated_x000D_\nhead strike, small lac to ...",S0080,Superficial injury of face (excludes eye),Home,2022-07-01 00:23:00,-,2022-06-30 23:19:56.830000,2022-07-01 06:53:00,LMO,0,Unspecified activity,"Face (Excludes eye, use code F1)",fall from standing height after consuming ETOH,"Fall - low (same level or less than 1 metre, or no information on height)","Superficial (Includes abrasion, blister, contusion; Excludes eye use code 13)",Home,0,0,0,0
380328,LVRH2-2022-20697,Female,36,2022,2022-06-30 23:50:00,Other,4,Rt wrist injury \nslipped and fallen on tiles injured rt wrist_x000D_\npt covid positive - from ...,S6350,Sprain/strain of wrist,Home,2022-06-30 23:57:00,-,2022-06-30 23:50:36.510000,2022-07-01 03:49:00,LMO,0,Unspecified activity,Wrist,"slipped on wet tiles and put Rt wrist out, injured wrist","Fall - low (same level or less than 1 metre, or no information on height)",Sprain or strain,Home,0,0,0,0

### Duplicated rows

In [30]:
# Duplicates based on all columns except for ID
print("The dataset contains %d duplicated rows." % df1.duplicated(subset=df1.columns.drop('ID')).sum())

The dataset contains 0 duplicated rows.

### General info

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380329 entries, 0 to 380328
Data columns (total 27 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   ID                                  380329 non-null  object
 1   SEX                                 380329 non-null  object
 2   AGE                                 380329 non-null  int64
 3   YEAR                                380329 non-null  int64
 4   ARRIVAL TIME                        380329 non-null  datetime64[ns]
 5   ARRIVAL MODE                        380329 non-null  object
 6   TRIAGE CATEGORY                     380329 non-null  object
 7   NURSING ASSESSMENT                  380329 non-null  object
 8   DIAGNOSIS CODE                      370486 non-null  object
 9   DIAGNOSIS DESCRIPTION               370486 non-null  object
 10  DISPOSITION                         380329 non-null  object
 11  TIME SEEN BY DOCTOR                 380329 non-null  object
 12  SEEN BY MENTAL HEALTH PRACTITIONER  380329 non-null  object
 13  BEDREQ DATE                         380329 non-null  object
 14  DISCHARGED                          380329 non-null  object
 15  DISCHARGE DESTINATION               380329 non-null  object
 16  MENTAL_HEALTH_FLG                   380329 non-null  int64
 17  ACTIVITY DESC                       380329 non-null  object
 18  BODY REGION DESC                    380329 non-null  object
 19  INJURY DESC                         370486 non-null  object
 20  INJURY CAUSE                        380329 non-null  object
 21  INJURY NATURE                       380329 non-null  object
 22  PLACE DESC                          380329 non-null  object
 23  SH                                  380329 non-null  int64
 24  AOD_OD                              380329 non-null  int64
 25  SI                                  380329 non-null  int64
 26  Audit_case                          380329 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(19)
memory usage: 78.3+ MB

In [32]:
df1.isna().sum()

ID                                       0
SEX                                      0
AGE                                      0
YEAR                                     0
ARRIVAL TIME                             0
ARRIVAL MODE                             0
TRIAGE CATEGORY                          0
NURSING ASSESSMENT                       0
DIAGNOSIS CODE                        9843
DIAGNOSIS DESCRIPTION                 9843
DISPOSITION                              0
TIME SEEN BY DOCTOR                      0
SEEN BY MENTAL HEALTH PRACTITIONER       0
BEDREQ DATE                              0
DISCHARGED                               0
DISCHARGE DESTINATION                    0
MENTAL_HEALTH_FLG                        0
ACTIVITY DESC                            0
BODY REGION DESC                         0
INJURY DESC                           9843
INJURY CAUSE                             0
INJURY NATURE                            0
PLACE DESC                               0
SH                                       0
AOD_OD                                   0
SI                                       0
Audit_case                               0
dtype: int64

In [33]:
df1.nunique()

ID                                    380329
SEX                                        4
AGE                                      108
YEAR                                      11
ARRIVAL TIME                          371008
ARRIVAL MODE                              16
TRIAGE CATEGORY                            7
NURSING ASSESSMENT                    379412
DIAGNOSIS CODE                          1076
DIAGNOSIS DESCRIPTION                   1965
DISPOSITION                               46
TIME SEEN BY DOCTOR                   321979
SEEN BY MENTAL HEALTH PRACTITIONER      5581
BEDREQ DATE                           207151
DISCHARGED                            351096
DISCHARGE DESTINATION                     35
MENTAL_HEALTH_FLG                          2
ACTIVITY DESC                             19
BODY REGION DESC                          59
INJURY DESC                            30063
INJURY CAUSE                              42
INJURY NATURE                             49
PLACE DESC                                27
SH                                         2
AOD_OD                                     2
SI                                         2
Audit_case                                 2
dtype: int64

### Rename, convert types, and select columns of interest

In [34]:
# Rename columns
df1.rename(columns={'ID': 'uid', 
                    'SEX': 'sex',
                    'AGE': 'age',
                    'ARRIVAL TIME': 'arrival_date',
                    'ARRIVAL MODE': 'arrival_method',
                    'YEAR': 'year',
                    'NURSING ASSESSMENT': 'triage_note', 
                    'Audit_case': 'audit_case'}, 
          inplace=True)

In [35]:
df1.arrival_date

0        2012-01-01 00:06:00
1        2012-01-01 00:30:00
2        2012-01-01 00:56:00
3        2012-01-01 01:07:00
4        2012-01-01 01:12:00
                 ...
380324   2022-06-30 22:06:00
380325   2022-06-30 22:13:00
380326   2022-06-30 22:30:00
380327   2022-06-30 23:19:00
380328   2022-06-30 23:50:00
Name: arrival_date, Length: 380329, dtype: datetime64[ns]

In [36]:
# Change types
df1.arrival_date = pd.to_datetime(df1.arrival_date)
df1.year = df1.year.astype(int)
df1.SH = df1.SH.astype(int)
df1.SI = df1.SI.astype(int)
df1.AOD_OD = df1.AOD_OD.astype(int)


# Select columns
df1 = df1[['uid', 'sex', 'age', 'arrival_method', 
           'arrival_date', 'year', 
           'triage_note', 'SH', 'SI', 'AOD_OD', 'audit_case']]

In [37]:
df1.head()

,uid,sex,age,arrival_method,arrival_date,year,triage_note,SH,SI,AOD_OD,audit_case
0,LVRH2-2012-1,Male,2,"OTHER (INCLUDES PRIVATE CAR, WALKED)",2012-01-01 00:06:00,2012,PT FELL OVER WHILST OUT CAMPING AT APPROX 2200HRS ONTO ?BROKEN GLASS. PT REFUSED PANADOL BY PARE...,0,0,0,0
1,LVRH2-2012-2,Female,53,"OTHER (INCLUDES PRIVATE CAR, WALKED)",2012-01-01 00:30:00,2012,PT PRESENTS WITH ?SOMETHING IN HER LEFT EYE. PT WAS AT HOME WHEN LEFT EYE BECAME ITCHY AT APPROX...,0,0,0,0
2,LVRH2-2012-3,Male,24,ROAD AMBULANCE SERVICE,2012-01-01 00:56:00,2012,BIBA POST WITTNESSED ASSAULT APPROX 2330HRS. HIT IN LEFT SIDE OF FACE AND HAD LOC ?LENGHT OF TIM...,0,0,0,0
3,LVRH2-2012-4,Male,21,"OTHER (INCLUDES PRIVATE CAR, WALKED)",2012-01-01 01:07:00,2012,"PAST WEEK HAS BEEN SMOKING MARIJUANA. 2/7 EAR ACHES , SORE THROAT AND HEADACHE . TODAY RASH ON L...",0,0,0,0
4,LVRH2-2012-5,Male,3,"OTHER (INCLUDES PRIVATE CAR, WALKED)",2012-01-01 01:12:00,2012,BIB FATHER WITH PAINFUL AND SWOLLEN PENIS. PT HAS BEEN AT BEACH TODAY AND AT APPROX 1500HRS STAR...,0,0,0,0

### Save data

In [38]:
df1.to_parquet(data_interim_dir / "lvrh_2012_2022.parquet", engine="pyarrow")